* {
	padding: 0;
	margin: 0;
	border: 0;
}

header {
	background-color: black;
	float: left;
	clear: none;
	width:100%;
	height: 100px;
}
	.title {
		font-size: 50px;
		font-style: italic;
		font-weight: bold;
		color: white;
		text-align: center;
		margin-top: 10px;
	}

content {
	background-color: grey;
    float: left;
    clear: none;
    height: 500px;
    width: 100%;
}

footer {
	background-color: black;
	float: left;
	clear: none;
	width: 100%;
	height: 100px;
}

.aBlokje {
    background-color: black;
    height: 30px;
    width: 30px;
    float: left;
}

.bBlokje {
    background-color: white;
    height: 30px;
    width: 30px;
    float: left;
}